<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
/>
<footer>
<div class="nav-footer">
  <ul class="ul-footer" >
  <div class="li-footer">
    <li class="li">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page"
        >Super Loto</a
      >
    </li>
    <li class="li">
      <a
        routerLink="/super-mega"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Super Mega</a
      >
    </li>
    <li class="li">
      <a
        routerLink="/super-corner"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Super Quina</a
      >
    </li>
    <li class="li">
      <a
        routerLink="/super-court"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Super Quadra</a
      >
    </li>
    <li class="li">
      <a
        routerLink="/about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Sobre</a
      >
    </li>
  </div>
  <div class="icons-social-networks">
    <i class="fa-brands fa-facebook" style="color: #ffffff3b"></i>
    <i class="fa-brands fa-instagram" style="color: #ffffff3b"></i>
    <i class="fa-brands fa-youtube" style="color: #ffffff3b"></i>
    <i class="fa-brands fa-tiktok" style="color: #ffffff3b"></i>
  </div>
  </ul>
  <div class="rights-reserved">
    <span>Copyright © By Caio Vieira 2024</span>
    <a href="https://www.linkedin.com/in/caioluizvieira/">
      <i class="fa-brands fa-linkedin" style="color:#ffffff3b;"></i>
    </a>
    <a href="https://github.com/caio-vieira">
      <i class="fa-brands fa-github" style="color: #ffffff3b;"></i>
    </a>
  </div>
</div>
</footer>
